/* Tela de carregamento - sobrepondo a página */
.loading-overlay {
    

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo preto com transparência */
    display: flex;
    color: #FFF;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Inicialmente invisível */
    pointer-events: none; /* Impede que o overlay interaja com os elementos embaixo */
    transition: opacity 0.3s ease-in-out;
    text-shadow: 0 0 10px #FFF;
    font-size: 1.5em;
    text-align: center;
    z-index: 100;
  }
  
  .loading-overlay.active {
    opacity: 1; /* Torna visível quando ativo */
    pointer-events: all; /* Permite interação quando a tela de carregamento estiver ativa */
  }
  
  /* Conteúdo de carregamento */
  .loading-content {
    color: white;
    font-size: 1.5rem;
  }
